# pgpass - see psql(1)
#
# {{ansible_managed}}
#
# host:port:db:user:pw

{% for server in pgpass %}
{{server.host}}:{{server.port}}:{{server.db}}:{{server.user}}:{{server.pw}}
{% endfor %}

# vim: ft=conf
