---
- homebrew_cask:
    name: handbrake
    state: present
  when: ansible_pkg_mgr == "homebrew"
- apt:
    name: handbrake
    state: present
  when: ansible_pkg_mgr == "apt"
  become: yes
- homebrew:
    name: libdvdcss
    state: present
  when: ansible_pkg_mgr == "homebrew"
- apt_key:
    id: 0x6BCA5E4DB84288D9
    url: https://download.videolan.org/pub/debian/videolan-apt.asc
    state: present
  when: ansible_pkg_mgr == "apt"
  become: yes
- apt_repository:
    repo: '{{item}}'
    state: present
  when: ansible_pkg_mgr == "apt"
  become: yes
  loop:
  - deb https://download.videolan.org/pub/debian/stable/ /
  - deb-src https://download.videolan.org/pub/debian/stable/ /
- apt:
    name: libdvdcss
    state: present
  when: ansible_pkg_mgr == "apt"
  become: yes
