---
- name: Install Wireshark
  homebrew_cask:
    name: wireshark
    state: present
  when: ansible_pkg_mgr == "homebrew"
- apt:
    name: wireshark
    state: present
  become: yes
  when: ansible_pkg_mgr == "apt"
