---
- homebrew:
    name: dockutil
    state: present
- osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true
    state: present
- shell: "dockutil --remove '{{item}}'"
  loop: '{{dock_items_to_remove}}'
  ignore_errors: true
- shell: "dockutil --find '{{item.name}}' || dockutil --add '{{item.path}}'"
  loop: '{{dock_items_to_persist}}'
- shell: "dockutil --move '{{item.name}}' --position {{item.pos}}"
  loop: '{{dock_items_to_persist}}'
- osx_defaults:
    key: NSNavPanelExpandedStateForSaveMode
    type: bool
    value: true
    state: present
- osx_defaults:
    key: NSDocumentSaveNewDocumentsToCloud
    type: bool
    value: false
    state: present
- osx_defaults:
    key: AppleShowAllExtensions
    type: bool
    value: true
    state: present
- osx_defaults:
    domain: com.apple.finder
    key: FXPreferredViewStyle
    type: string
    value: Nlsv
    state: present
- osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: int
    value: 60
    state: present
- osx_defaults:
    key: AppleInterfaceStyle
    type: string
    value: Dark
    state: present
- osx_defaults:
    domain: com.apple.screensaver
    key: askForPassword
    type: int
    value: 1
    state: present
- osx_defaults:
    domain: com.apple.screensaver
    key: askForPasswordDelay
    type: int
    value: 0
    state: present
- name: Enable firewall
  become: yes
  shell: |
    launchctl load /System/Library/LaunchDaemons/com.apple.alf.agent.plist
    launchctl load /System/Library/LaunchAgents/com.apple.alf.useragent.plist
    /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate on
    /usr/libexec/ApplicationFirewall/socketfilterfw --setstealthmode on
    /usr/libexec/ApplicationFirewall/socketfilterfw --setallowsigned off
    /usr/libexec/ApplicationFirewall/socketfilterfw --setallowsignedapp off
    pkill -HUP socketfilterfw
- name: Enable gatekeeper
  become: yes
  shell: |
    spctl --master-enable
    spctl --enable --label "Developer ID"
