---
- apt: name=zsh state=present
  become: yes
  when: ansible_facts['system'] == "Linux"
- copy: src=zshrc dest=~/.zshrc
- file: path=~/.zsh state=directory
- file: path=~/.zsh/functions state=directory
- copy: src={{item}} dest=~/.zsh/{{item}}
  loop:
    - aliases.zsh
    - completion.zsh
    - config.zsh
    - env.zsh
    - path.zsh
    - prompt.zsh
    - window.zsh
# - name: Install FZF
#   homebrew:
#     name: fzf
#     state: present
