---
- homebrew:
    name:
      - neovim
      - cmake
    state: present
  when: ansible_pkg_mgr == "homebrew"
- homebrew_cask:
    name: macvim
    state: present
  when: ansible_pkg_mgr == "homebrew"
- apt:
    name: '{{item}}'
    state: present
  loop:
    - neovim
    - cmake
    - python-dev
    - python3-dev
    - build-essential
    - software-properties-common
  become: true
  when: ansible_pkg_mgr == "apt"
#- pip:
#    name: neovim
#    state: present
#  become: true
#- pip:
#    executable: pip3
#    name: neovim
#    state: present
#  become: true
- file:
    path: ~/.config/nvim
    state: directory
    mode: '700'
- copy:
    src: vimrc
    dest: ~/.config/nvim/init.vim
    mode: '600'
- file:
    src: ~/.config/nvim/init.vim
    dest: ~/.vimrc
    state: link
    mode: '600'
- copy:
    src: gvimrc
    dest: ~/.gvimrc
    mode: 0600
- file:
    path: ~/.local/share/nvim/site/autoload
    state: directory
    mode: '700'
- get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.local/share/nvim/site/autoload/plug.vim
  notify:
    - PlugInstall
    #- InstallYouCompleteMe
