---
- homebrew: name=neovim state=present
  when: ansible_facts['system'] == "Darwin"
- apt: name=neovim state=present
  become: true
  when: ansible_facts['system'] == "Linux"
- file: path=~/.config/nvim state=directory
- copy: src=vimrc dest=~/.config/nvim/init.vim
- file: src=~/.config/nvim/init.vim dest=~/.vimrc state=link
- get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.local/share/nvim/site/autoload/plug.vim
  notify:
    - PlugInstall
