# {{ansible_managed}}
# vim: ft=sudoers

{% if sudoers_group is defined %}
# Allow members of the {{sudoers_group}} group to execute any command as any
# user without entering a password
%{{sudoers_group}} ALL = (ALL) NOPASSWD:ALL
{% endif %}
